#svg-display {
    display: block;
}

#size-name-entry {
    display: block;
    clear: both;
}

textarea {
    display: block;
    background-color: #FFFEFE;
    color: #003300;
    height: 300px;
    width: 200px;
    border-color: #FFAAAA
}

#main-input-div {
    display: block;
    float: left;
}

#svg-display-div {
    display: block;
    float: left;
    height: 500px;
    width: 500px;
}