    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    :root {
        --inactive: rgb(150, 0, 255);
        --hover: rgb(255, 100, 0);
        --active: rgb(100, 0, 255);
        --background-color: rgb(103, 223, 253);
        --body-color: rgb(0, 0, 0);
        --links-background: rgb(163, 237, 255);

        --h1-color: rgb(0, 194, 243);
        --title-background: rgb(163, 237, 255);
        --underline-color: #ff6400;

        --gradient-top: rgb(50, 214, 255);
        --gradient-bottom: rgb(163, 237, 255);
        --gradient-background: linear-gradient(var(--gradient-top), var(--gradient-bottom));
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --inactive: rgb(105, 255, 0);
            --hover: rgb(0, 110, 255);
            --active: rgb(139, 232, 255);
            --background-color: rgb(255, 121, 32);
            --body-color: rgb(255, 255, 255);/*rgb(255, 140, 32); */
            --links-background: rgb(0, 0, 0);

            --h1-color: rgb(207, 83, 0);
            --title-background: rgb(255, 156, 89);
            --underline-color: rgb(0, 155, 255);

            --gradient-top: rgb(202, 81, 0);
            --gradient-bottom: rgb(255, 121, 32);
            --gradient-background: linear-gradient(var(--gradient-top), var(--gradient-bottom));
        }
    }

    /* unvisited link */

    a:link {
        color: var(--inactive);
    }

    /* visited link */

    a:visited {
        color: var(--inactive);
    }

    /* mouse over link */

    a:hover {
        color: var(--hover);
    }

    /* selected link */

    a:active {
        color: var(--active);
    }

    body {
        font-family: monospace;
        color: var(--body-color);
    }

    #content {
        padding-left: 0px;
        margin-left: 10px;
    }

    #background {
        /* background-color: var(--background-color); */
        background-image: var(--gradient-background);
        padding-bottom: 10px;
    }

    h1 {
        color: var(--h1-color);
        display: block;
        font-size: 2em;
        margin-top: 0.67em;
        margin-bottom: 0.67em;
        /* margin-left: 0;
        margin-right: 0;
        font-weight: bold;
        padding-left: 0px; */
        text-decoration: dashed;
    }

    .title {
        font-weight: normal;
        background-color: var(--title-background);
        margin-left: -10px;
        padding-left: 10px;
        text-decoration: underline overline var(--underline-color) 3px;
    }

    #links {
        background-color: var(--links-background);
        display: flex;
        justify-content: space-evenly;
        padding: 2px 2px 2px 2px;
        margin: 0px 0px 0px 0px;
        border: 0px;
        box-sizing: border-box;
    }