    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    :root {
        /* this is the same always, just the variables in it change */
        --gradient-background: linear-gradient(to right, var(--gradient-top), var(--gradient-bottom));
        
        /* light mode; shows if JS doesn't work */
        --inactive: rgb(255, 123, 35);
        --hover: rgb(255, 112, 17);
        --active: rgb(240, 96, 0);
        --inactive-underline: var(--inactive);
        --hover-underline: var(--hover);
        --active-underline: var(--active);
        --link-underline-width: 1px;
        --background-color: rgb(103, 223, 253);
        --body-color: rgb(0, 0, 0);
        --links-background: rgb(163, 237, 255);
        --title-color: rgb(0, 194, 243);
        --title-background: rgb(163, 237, 255);
        --underline-color: rgb(255, 102, 0);
        --gradient-top: rgb(50, 214, 255);
        --gradient-bottom: rgb(163, 237, 255);
        --button-background: rgb(163, 237, 255);
        --button-text: rgb(0, 0, 0);
        --button-hover-background: rgb(0, 204, 255);
        --button-hover-text: rgb(0, 0, 0);
        --button-border: rgb(0, 0, 0);
        --top-border-color: rgb(255, 119, 29);
        --selection-color: cyan;

        /* light mode; the other ones are set to be equal to these if light mode is on */
        --light-inactive: rgb(255, 123, 35);
        --light-hover: rgb(255, 112, 17);
        --light-active: rgb(240, 96, 0);
        --light-inactive-underline: var(--light-inactive);
        --light-hover-underline: var(--light-hover);
        --light-active-underline: var(--light-active);
        --light-link-underline-width: 1px;
        --light-background-color: rgb(103, 223, 253);
        --light-body-color: rgb(0, 0, 0);
        --light-links-background: rgb(163, 237, 255);
        --light-title-color: rgb(0, 194, 243);
        --light-title-background: rgb(163, 237, 255);
        --light-underline-color: rgb(255, 102, 0);
        --light-gradient-top: rgb(50, 214, 255);
        --light-gradient-bottom: rgb(163, 237, 255);
        --light-button-background: rgb(163, 237, 255);
        --light-button-text: rgb(0, 0, 0);
        --light-button-hover-background: rgb(0, 204, 255);
        --light-button-hover-text: rgb(0, 0, 0);
        --light-button-border: rgb(255, 123, 35);
        --light-top-border-color: rgb(255, 119, 29);
        --light-selection-color: cyan;

        /* dark mode; the other ones are set to be equal to these if dark mode is on */
        --dark-inactive: rgb(187, 241, 255);
        --dark-hover: rgb(161, 217, 255);
        --dark-active: rgb(126, 203, 255);
        --dark-inactive-underline: var(--dark-nactive);
        --dark-hover-underline: var(--dark-hover);
        --dark-active-underline: var(--dark-active);
        --dark-background-color: rgb(255, 121, 32);
        --dark-body-color: rgb(255, 255, 255);
        --dark-links-background: rgb(255, 119, 29);
        --dark-title-color: rgb(255, 163, 135);
        --dark-title-background: rgb(219, 88, 0);
        --dark-underline-color: rgb(46, 132, 212);
        --dark-gradient-top: rgb(150, 60, 0);
        --dark-gradient-bottom: rgb(202, 81, 0);
        --dark-button-background: rgb(255, 102, 0);
        --dark-button-text: rgb(255, 255, 255);
        --dark-button-hover-background: rgb(219, 88, 0);
        --dark-button-hover-text: rgb(255, 255, 255);
        --dark-button-border: rgb(187, 241, 255);
        --dark-top-border-color: rgb(103, 223, 253);
        --dark-selection-color: orange;
    }

    a {
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-thickness: 1px;
    }

    /* unvisited link */

    a:link {
        color: var(--inactive);
        text-decoration-color: var(--inactive-underline);
    }

    /* visited link */

    a:visited {
        color: var(--inactive);
        text-decoration-color: var(--inactive-underline);
    }

    /* mouse over link */

    a:hover {
        color: var(--hover);
        text-decoration-color: var(--hover-underline);
    }

    /* selected link */

    a:active {
        color: var(--active);
        text-decoration-color: var(--active-underline);
    }

    body {
        font-family: monospace;
        color: var(--body-color);
        font-size: 13px;
        margin-top: 20px;
    }

    #content {
        padding-left: 0px;
        margin-left: 10px;
    }

    #background {
        /* background-color: var(--background-color); */
        background-image: var(--gradient-background);
        padding-bottom: 10px;

    }

    #darkModeButton {
        background-color: var(--button-background);
        border: 1px solid var(--button-border);
        color: var(--button-text);
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: right;
        font-size: 14px;
        margin-top: 10px;
        margin-left: 10px;
        font-family: monospace;
        width: 258px;
        height: 50px;
        border-radius: 8px;
    }

    #darkModeButton:hover {
        background-color: var(--button-hover-background);
        /* Green */
        color: var(--button-hover-text);
    }

    h1 {
        display: block;
        font-size: 2em;
        margin-top: 0.67em;
        margin-bottom: 0.67em;
        /* margin-left: 0;
        margin-right: 0;
        font-weight: bold;
        padding-left: 0px; */
        text-decoration: dashed;
    }

    .title {
        color: var(--title-color);
        font-weight: normal;
        background-color: var(--title-background);
        margin-left: -10px;
        padding-left: 10px;
        text-decoration-line: underline overline;
        text-decoration-color: var(--underline-color);
        text-decoration-style: solid;
        text-decoration-thickness: 3px;
    }

    #links {
        background-color: var(--links-background);
        box-sizing: border-box;
        position: fixed;
        width: 100%;
        top: 0;
        border-bottom: 2px solid var(--top-border-color);
        font-size: 10px;
    }

    #links a {
        width: 32%;
        box-sizing: border-box;
        display: inline-block;
        text-align: center;
        margin: 0px;
        margin-bottom: 4px;
        margin-top: 4px;
    }

    ::selection {
        background-color: var(--selection-color);
    }
