    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    :root {
        --inactive: rgb(150, 0, 255);
        --hover: rgb(255, 100, 0);
        --active: rgb(100, 0, 255);
        --h1-color: rgb(0, 194, 243);
        --background-color: rgb(103, 223, 253);
        --body-color: rgb(0, 0, 0);
        --title-background: rgb(163, 237, 255);
        --links-background: rgb(0, 155, 255);
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --inactive: rgb(105, 255, 0);
            --hover: rgb(0, 110, 255);
            --active: rgb(139, 232, 255);
            --h1-color: rgb(0, 255, 179);
            --background-color: rgb(0, 0, 0);
            --body-color: rgb(255, 140, 32);
            --title-background: rgb(0, 0, 0);
            --links-background: rgb(255, 100, 0);
        }
    }

    /* unvisited link */

    a:link {
        color: var(--inactive);
    }

    /* visited link */

    a:visited {
        color: var(--inactive);
    }

    /* mouse over link */

    a:hover {
        color: var(--hover);
    }

    /* selected link */

    a:active {
        color: var(--active);
    }

    body {
        font-family: monospace;
        color: var(--body-color);
    }

    #content {
        padding-left: 0px;
        margin-left: 10px;
    }

    #background {
        background-color: var(--background-color);
    }

    h1 {
        color: var(--h1-color);
        display: block;
        font-size: 2em;
        margin-top: 0.67em;
        margin-bottom: 0.67em;
        /* margin-left: 0;
        margin-right: 0;
        font-weight: bold;
        padding-left: 0px; */
    }

    .title {
        font-weight: normal;
        background-color: var(--title-background);
        margin-left: -10px;
        padding-left: 10px;
    }

    #links {
        background-color: var(--links-background);
        display: flex;
        justify-content: space-around;
        padding: 2px 2px 2px 2px;
        margin: 0px 0px 0px 0px;
        border: 0px;
        box-sizing: border-box;
    }