:root {
  --link-color: #1d57d5;
  --link-visited-color: #042e88;
  --link-underline-color: #bdbdbd;
  --link-hover-color: #5d89e9;
  --link-after-color: #598eff;
  --main-background-color: white;
  --text-color: #171717;
  --hr_color: rgba(0, 0, 0, 0.3333333333);
  --code_light_blue: #00638a;
  --code_orange: #aa4900;
  --code_red: #dd0000;
  --code_green: #008001;
  --code_gold: #807e00;
  --code_bg: #ddd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --link-color: #a6c2ff;
    --link-visited-color: #6394ff;
    --link-underline-color: #bdbdbd;
    --link-hover-color: #5d89e9;
    --link-after-color: #598eff;
    --main-background-color: #171717;
    --text-color: #ffffff;
    --hr_color: rgba(255, 255, 255, 0.6666666667);
    --code_orange: #dd8c00;
    --code_red: #ff0000;
    --code_green: #00bd00;
    --code_gold: #bcb900;
    --code_bg: #222;
  }
}